.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

.main-grid__item{
    padding-top: 15px;
    padding-left: 20px;
}

img{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}